body {margin: 0px auto;
		}
		
header {
		text-align: center;
		color: white;
		padding-top: 30px;
		height: 100px;
		font-size: 80px;
		width: 100%;
		background-color: lightgray;
		}
------------------------------------------------------------------------------------------------------------------

.contran {
    list-style-type: none;
}

.contran a {
    float: left;
    font-size: 16px;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .drop {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.contran a:hover, .dropdown:hover .drop {
    background-color: red;
}

.down {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.down a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.down a:hover {
    background-color: #ddd;
}

.dropdown:hover .down {
    display: block;
}



---------------------------------------------------------------------------------------------------------------------------------------------------
